.container {
    width: min(
      100% - 32px,
      var(--container)
    );
  
    margin-inline: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-center {
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  }
  
  .hidden {
    display: none;
  }